.Rproj.user
.Rhistory
.RData
.Ruserdata

*.csv
.httr-oauth
blog post/*

blog post/climate_tweets_blog_post.html

blog post/climate_tweets_blog_post.html

blog post/climate_tweets_blog_post.md

blog post/climate_tweets_blog_post.Rmd
